h1 {
    font-family: cursive;
    color: red;
    background: black;
    
}

body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b8/Portrait_de_Picasso%2C_1908.jpg");
    background-repeat: no-repeat;
    background-position: 55% top;
    
}

img {
    position: relative;
}
#img1, #img2, #img3 {
 width: 20%
}

#img1 {
    z-index: 10;
    margin-top: 20%;
    padding-right: 50px;
}

#img2 {
    z-index: 20;
}

#img3 {
    z-index: 30;
}